.hero {

    min-height: 100vh;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: poppins, sans-serif;
    color: #000000;

}


.heading {
    font-size: 4rem;
}

.subheading {
    font-size: 2rem;
}

.highlight {
    color: #b00909;
    font-weight: bold;
}

.learnButton {
    padding: 10px;
    margin-top: 20px;
 
    color: #ffffff;
    background-color: #140301;
    
    font-size: 1.2rem;
  
    border: none;
    border-radius: 5px;
}

.learnButton:hover {
    background-color: #333333;
    cursor: pointer;
}