.hero {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: poppins, sans-serif;
    color: #000000;
}

.heading {
    font-size: 4rem;
    animation: slideFromRight 0.8s ease-out forwards;
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.subheading {
    font-size: 2rem;
    animation: slideFromLeft 0.8s ease-out forwards;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.highlight {
    color: #b00909;
    font-weight: bold;
}

.learnButton {
    padding: 10px;
    margin-top: 20px;
 
    color: #ffffff;
    background-color: #140301;
    
    font-size: 1.2rem;
  
    border: none;
    border-radius: 5px;
}

.learnButton:hover {
    background-color: #333333;
    cursor: pointer;
}